/* WEATHER DASHBOARD */
/* most styling is done through bootstrap */

/* Note to Developer: NEEDS MORE STYLING */

.navbar-brand {
    font-size: 30px;
}

.search {
    font-weight: bold;
    font-size: 20px;
}

.city {
    font-size: 30px;
}
